<phpunit
 >
<testsuites>
  <testsuite name="My Test Suite">
    <directory>tests/*Test.php files</directory>
    <file>tests/HelloWorldTest.php</file>
    <exclude>vendor</exclude>
  </testsuite>
</testsuites>

<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">./</directory>
    <exclude>
      <directory suffix=".php">vendors</directory>
    </exclude>
  </whitelist>
</filter>

<logging>
  <log type="coverage-html" target="./report" lowUpperBound="35" highLowerBound="70"/>
  <log type="coverage-clover" target="./coverage.xml"/>
  <log type="coverage-php" target="./coverage.serialized"/>
  <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  <log type="junit" target="./logfile.xml" />
  <log type="testdox-html" target="./testdox.html"/>
  <log type="testdox-text" target="./testdox.txt"/>
</logging>
  
</phpunit>